.background-yellow{
    background-color:#F5BE49
}

.background-brown{
    background-color:#623E2A
}

.background-white{
    background-color:#F4F4F4
}

.primary-black{
    color:#272727
}

.primary-purple{
    color:#8B3DFF
}

@font-face
