{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>symbol</th>
            <th>quantity</th>
            <th>total current value</th>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>30</td>
            <td>New York</td>
        </tr>
        <tr>
            <td>Jane Doe</td>
            <td>28</td>
            <td>Los Angeles</td>
        </tr>
    </table>
{% endblock %}

should be a list of dictionaries - stock_rows
with dict names symbol, quantity


• Display the user's current cash balance
• Display total value of stocks and cash together
