{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container mt-5">
    <table class="table">
        <tr>
            <th>symbol</th>
            <th>quantity</th>
            <th>timestamp price</th>
            <th>timestamp</th>
        </tr>
        {% for row in history_rows %}
        <tr>
            <td>{{row.symbol}}</td>
            <td>{{row.quantity}}</td>
            <td>{{row.timestamp_price}}</td>
            <td>{{row.timestamp}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
