{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>symbol</th>
            <th>quantity</th>
            <th>current price</th>
            <th>total current value</th>
        </tr>
        {% for row in stock_rows %}
        <tr>
            <td>{{row.symbol}}</td>
            <td>{{row.quantity}}</td>
            <td>{{row.current_price}}</td>
            <td>{{row.quantity * row.current_price}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
