{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select id="symbol" name="symbol">
                <option value="None">Symbol</option>
                {% for row in stock_rows %}
                <option value="{{row.symbol}}">{{row.symbol}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select>
                <input type="number" name="sold_stock" min="1" max="stock_rows.quantity" placeholder="max value = ">
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
